# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tlog
*.ipch
*.obj
*.exe
*.pdb
*.filters
*.vcxproj
*.log
*.ilk
*.db
*.idb
*.suo
*.sln
*.iobj
*.ipdb
*.iml
# my bash script
count.sh
# .vscode
.vscode
